nav {
  height: 40px;
  display: flex;
  justify-content: space-around;
}

#logo {
  height: 100%;
}

.news-card {
  display: flex;
  margin: 4px auto;
  width: 800px;
  align-items: center;
  border-bottom: solid 1px #d2d2d2;
}

.thumbnail {
  width: fit-content;
  margin: 0 8px 0 0;
}

.news-content{
  position: relative;
  width: 100%;
}

.section-tag {
  position: absolute;
  right: 4px;
  background: #f2f2f2;
  padding: 2px;
  border-radius: 3px;
}